<footer class="bg-dark text-white pt-5 pb-4">
  <div class="container">
    <div class="row">

      <div class="col-md-3 text-start">
        <h5 class="text-uppercase">ShopBold</h5>
        <p>Your one-stop shop for fashion, electronics, and more. Quality products at unbeatable prices.</p>
      </div>

      <div class="col-md-2 text-start">
        <h5 class="text-uppercase">Products</h5>
        <p><a href="#" class="text-white text-decoration-none">Men</a></p>
        <p><a href="#" class="text-white text-decoration-none">Women</a></p>
        <p><a href="#" class="text-white text-decoration-none">Electronics</a></p>
        <p><a href="#" class="text-white text-decoration-none">Accessories</a></p>
      </div>

      <div class="col-md-3 text-start">
        <h5 class="text-uppercase">Useful Links</h5>
        <p><a href="#" class="text-white text-decoration-none">Your Account</a></p>
        <p><a href="#" class="text-white text-decoration-none">Orders</a></p>
        <p><a href="#" class="text-white text-decoration-none">Shipping</a></p>
        <p><a href="#" class="text-white text-decoration-none">Help</a></p>
      </div>

      <div class="col-md-4 text-start">
        <h5 class="text-uppercase">Contact</h5>
        <p>Hyderabad, India</p>
        <p>support&#64;shopbold.com</p>
        <p>+91 98765 43210</p>
      </div>

    </div>

    <hr class="mb-4">

    <div class="row">
      <div class="col-md-7 text-start">
        <p>© 2025 ShopBold. All rights reserved.</p>
      </div>
      <div class="col-md-5 text-start">
        <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>